#define MACRO(NAME, BINDINGS) \
    ZMK_BEHAVIOR(m_##NAME, macro, \
        wait-ms = <100>; \
        tap-ms = <5>; \
        bindings = <BINDINGS>; \
    )

/* Dead letters */
MACRO(circ, &kp SE_CIRC &kp SPACE)
MACRO(tild, &kp SE_TILD &kp SPACE)
MACRO(grv, &kp SE_GRV &kp SPACE)

/* Ture */
MACRO(td, &kp T &kp D &kp SE_LBRC &kp SE_RBRC &kp LEFT)

/* Game */
MACRO(vill, &kp LC(A) &kp LS(Q))

/* Window */
MACRO(back, &macro_press &kp LALT &macro_tap &kp LEFT &macro_release &kp LALT)
MACRO(forward, &macro_press &kp LALT &macro_tap &kp RIGHT &macro_release &kp LALT)
