/* Dead letters */
ZMK_BEHAVIOR(m_circ, macro,
  wait-ms = <100>;
  tap-ms = <5>;
  bindings = <&kp SE_CIRC &kp SPACE>;
)
ZMK_BEHAVIOR(m_tild,
  wait-ms = <100>;
  tap-ms = <5>;
  bindings = <&kp SE_TILD &kp SPACE>;
)
ZMK_BEHAVIOR(m_grv,
  wait-ms = <100>;
  tap-ms = <5>;
  bindings = <&kp SE_GRV &kp SPACE>;
)

/* Ture */
ZMK_BEHAVIOR(m_td,
  wait-ms = <100>;
  tap-ms = <5>;
  bindings = <&kp T &kp D &kp SE_LBRC &kp SE_RBRC &kp LEFT>;
)

/* Game */
ZMK_BEHAVIOR(m_vill,
  wait-ms = <100>;
  tap-ms = <5>;
  bindings = <&kp LC(A) &kp LS(Q)>;
)

/* Window */
ZMK_BEHAVIOR(m_back,
  wait-ms = <100>;
  tap-ms = <5>;
  bindings = <&macro_press &kp LALT &macro_tap &kp LEFT &macro_release &kp LALT>;
)
ZMK_BEHAVIOR(m_forward,
  wait-ms = <100>;
  tap-ms = <5>;
  bindings = <&macro_press &kp LALT &macro_tap &kp RIGHT &macro_release &kp LALT>;
)
